<tbody>

<% if flash[:notice] %>
  <div class="alert alert-success">Song successfully added!</div>
<% end %>

<%= form_with(url: "/search", method: "get", local: true) do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

  <% if @trackList != [] %>
    <% @trackList["albums"]["items"].each do |item|%>
      <div>
        <% item["artists"].each do |aristObj|  %>  
          <%= form_with(url: "/song", method: "post") do %>
            <%= hidden_field_tag(:spotify_id, item["id"]) %>
            <%= hidden_field_tag(:name, item["name"]) %>
            <%= hidden_field_tag(:artist, aristObj["name"]) %>
            <%= submit_tag(item["name"] + " - " + aristObj["name"]) %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%end%>
    <br>
    <div>
      <button type="button" class="btn btn-primary" onClick="(function(){ window.location.replace('/dashboard') })();">Return to Dashboard</button>
    </div>
</tbody>
